#block-views-1ea07c98bfe3b712442d65a3d4fd9126 h3,
#block-views-1ea07c98bfe3b712442d65a3d4fd9126 ul,
#block-views-1ea07c98bfe3b712442d65a3d4fd9126 ul li h4 a {
	color: black !important;
}

	
#block-views-1ea07c98bfe3b712442d65a3d4fd9126 ul.multicol li {
	width: 290px;
	padding: 10px 10px 0 10px;
	float: left;
}

#block-views-1ea07c98bfe3b712442d65a3d4fd9126 ul.multicol li:hover {
	background-color: #eee;
}

.region {
	clear: both;
	padding-top: 20px;	
}
	.region.first {
		padding-top: 0;
	}

#block-views-1ea07c98bfe3b712442d65a3d4fd9126 h3 {
	font-size: 2.5em;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#block-views-1ea07c98bfe3b712442d65a3d4fd9126 ul.multicol li h4 {
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}
#block-views-1ea07c98bfe3b712442d65a3d4fd9126 ul.multicol li span {
	font-weight: normal;
	color: #898989;
	font-size: .9em;
	margin-right: 5px;
}

#content-left .view-groups-listing-centre-school img.icon {
	width: 12px;
	margin: 0;
	float: none;
	border: none;
}

/* ---- Changes to existing stuff ------- */

#content-left .view-groups-listing-centre-school img {
	width: 30px;
}

#content-left .view-groups-listing-centre-school li {
	padding: 5px;
}

#content-left .view-groups-listing-centre-school, #content-left .view-groups-listing-centre-school a:link, #content-left .view-groups-listing-centre-school a:visited {
	color: black;
}